/**/
@media (max-width:32rem){
    html {
        font-size:56.25% ;
    }

    body {
        background-image: 
        url("images/bg-pattern-top-mobile.svg"),
        url("images/bg-pattern-bottom-mobile.svg");
    }

    .main-container {
        gap: 2rem;
    }

    .testimonials, .heading-rating-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .heading-paragraph-container{
        text-align: center;
    }

    .list {
        text-align: center;
    }

    .cards{
        max-height: auto;
    }

    .card-1, .card-2, .card-3 {
       align-self: center;
    }

    .list-1, .list-2, .list-3 {
       align-self: center;
       width: 100%;
    }

    .stars-text-container{
        flex-direction: column;
    }

    .star-rating-container{
        justify-content: center;
    }

}